/*
* 100ping!attack CTF Team Site
* Made by Ivan Petrov (LazyTechwork)
* vk.com/ipetrovofficial / github.com/lazytechwork
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;700&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #040426;
    color: #ffffff;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: #191959;
    border-radius: 0.25em;
}

a {
    text-decoration: none;
    color: #ffb900;
}

h1, h2, h3, h4, h5, h6 {margin-bottom: 0.75em;font-weight: bold; font-family: 'Ubuntu', sans-serif;}

h1 {font-size: 3rem;}

h2 {font-size: 2.5rem;}

h3 {font-size: 2.3rem;}

h4 {font-size: 2rem;}

h5 {font-size: 1.8rem;}

h6 {font-size: 1.5rem;}

p {font-size: 1.3rem;}

header {
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whitespace {
    margin: 50px 0;
}

.header-logo {
    user-select: none;
    width: 100%;
    max-width: 500px;
    margin-bottom: 4em;
}

hr {
    border-radius: 0.5em;
    border: 0.25em solid #191959;
    margin-bottom: 50px;
}

.main {
    min-height: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    padding: 75px 250px;
}

@media (max-width: 1200px) {
    .container {
        padding: 75px 100px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 75px 50px;
    }
}

@media (max-width: 720px) {
    .container {
        padding: 50px 35px;
    }
}
